<div class="container-fluid div1 p-0">
	<div class="row">
		<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>

		<div class="col-12 col-sm-12 col-md-8 nav1 bg-light">
			<% myArray.forEach((i, index) => { %>
				<a href="/filter/<%= i.id %>?name=<%= i.name %>" class="nav1_btns"><%= i.name %></a>
			<% }) %>
		</div>

		<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>

		<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>
		<div class="col-12 col-md-8" style="height: 20px; background: lightgray;"></div>
		<div class="col-12 col-md-2" style="background: #f0f0f0;"></div>
	</div>
</div>